.board {
  margin: auto;
  height: 90vh;
  aspect-ratio: 1/ 1;
  border: 3px solid #1E1E1E;
  padding: 0.1%;
  background-color: #1E1E1E;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 0.25%;
}

.square {
  aspect-ratio: 1/ 1;
  display: inline;
  align-items: center;
  padding: 0%;
  background-color: #ffcf94;
  color: #fff;
  text-align: center;
}

.square:hover {
  background-color: #ffb75e;
}

.tripleWord {
  background-color: #fa6e43;
}

.tripleWord:hover {
  background-color: #c2441d;
}

.doubleWord {
  background-color: #f792ea;
}

.doubleWord:hover {
  background-color: #b85eac;
}

.tripleLetter {
  background-color: #4d79ff;
}

.tripleLetter:hover {
  background-color: #385ac2;
}

.doubleLetter {
  background-color: #42d0ff;
}

.doubleLetter:hover {
  background-color: #2b9cc2;
}

.centreTile {
  background-color: #e03131;
}

.centreTile:hover {
  background-color: #ab2020;
}

.tileText {
 color: black;
 text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones FIX THIS */
  .board {
    margin: auto;
    width: 90vw;
    height: initial;
    aspect-ratio: 1/ 1;
    border: 3px solid #73AD21;
    padding: 0.25px;
  }
}