body {
 background-color: #545454
}

.container {
  background: black;
  display: inline-block;
  border: 2px solid black;
}
.grid {
  display: grid;
  grid-template-columns: repeat(15, 50px);
  grid-template-rows: repeat(15, 50px);
  grid-gap: 2px;
}
.cell {
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  background: white;
}

.normalTile {
  aspect-ratio: 1/ 1;
  display: inline;
  align-items: center;
  padding: 0px;
  background-color: #ffcf94;
  color: #fff;
  text-align: center;
}

.normalTile:hover {
  background-color: #ffb75e;
}

.tripleWord {
  background-color: #fa6e43;
}

.tripleWord:hover {
  background-color: #c2441d;
}

.doubleWord {
  background-color: #f792ea;
}

.doubleWord:hover {
  background-color: #b85eac;
}

.tripleLetter {
  background-color: #4d79ff;
}

.tripleLetter:hover {
  background-color: #385ac2;
}

.doubleLetter {
  background-color: #42d0ff;
}

.doubleLetter:hover {
  background-color: #2b9cc2;
}

.centreTile {
  background-color: #e03131;
}

.centreTile:hover {
  background-color: #ab2020;
}

.tileText {
 color: black;
 text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones FIX THIS */
  .board {
    margin: auto;
    width: 90vw;
    height: initial;
    aspect-ratio: 1/ 1;
    border: 3px solid #73AD21;
    padding: 0.25px;
  }
}